#wrapper{
  position: relative;
  background-color: #998899;
  width: 100%;
  height: 700px;
  text-align: center;
}
#cardDisplay{
  position: relative;
  margin: auto;
  font-size: 20pt;
  color: black;
  top: 25px;
  width: 95%;
  height: 650px;
  border: solid black 2px;
  border-radius: 5px;
  background: white;
}
.cardHolder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#board{
  position: relative;
  top: 15px;
  margin: auto;
  width:50%;
  height: 200px;
  border: solid black 2px;
  border-radius: 5px;
  background: yellow;
}
#deckDisplay{
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 90%;
  height: 175px;
  border: solid black 2px;
  border-radius: 5px;
  background: grey;
  opacity: 60%;
}
#playerArea{
  font-size: 10pt;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  width: 400px;
  height: 200px;
  background: green;
  border: solid black 2px;
  border-radius: 5px;
}
.card{
  position: relative;
  margin: 5px;
  width: 60px;
  height: 90px;
  background-color: white;
  border: solid black 2px;
  border-radius: 5px;
  flex: none;
}
.cardText{
  margin: 0px;
  position: relative;
  top: 2px;
  left: 2px;
  font-size: 12pt;
  width: fit-content;
}
.deckCard{
  font-size: 6pt;
  position: relative;
  margin: 5px;
  width: 40px;
  height: 65px;
  background-color: white;
  border: solid black 2px;
  border-radius: 5px;
  flex: none;
}
.deckCardText{
  margin: 0px;
  position: relative;
  top: 2px;
  left: 2px;
  font-size: 8pt;
  width: fit-content;
}
.redSuit{
  color: red;
}
